In [1]:
import pandas as pd

In [2]:
df_country = pd.read_csv('child-mortality.csv')

In [7]:
df_continent = pd.read_csv('continents.csv', sep=';')

In [4]:
df_country.head()

        Entity Code  Year  Under-five mortality rate
0  Afghanistan  AFG  1957                  37.590538
1  Afghanistan  AFG  1958                  36.962840
2  Afghanistan  AFG  1959                  36.343746
3  Afghanistan  AFG  1960                  35.730060
4  Afghanistan  AFG  1961                  35.165825

In [27]:
df_continent.head()

          País Continente
0  Afghanistan       Asia
1      Albania     Europe
2      Algeria     Africa
3      Andorra     Europe
4       Angola     Africa

In [32]:
df_continent.rename(columns={'País': 'Entity'}, inplace = True)
df_continent.rename(columns={'Continente': 'Continent'}, inplace = True)

In [33]:
df_new = pd.merge(df_country, df_continent, on="Entity")

In [34]:
df_new.head()

        Entity Code  Year  Under-five mortality rate Continent
0  Afghanistan  AFG  1957                  37.590538      Asia
1  Afghanistan  AFG  1958                  36.962840      Asia
2  Afghanistan  AFG  1959                  36.343746      Asia
3  Afghanistan  AFG  1960                  35.730060      Asia
4  Afghanistan  AFG  1961                  35.165825      Asia

In [35]:
print('Shape continent: ' + str(df_continent.shape))
print('Shape contry: ' + str(df_country.shape))
print('Shape df_new: ' + str(df_new.shape))

Shape continent: (233, 2)
Shape contry: (16739, 4)
Shape df_new: (16498, 5)

In [36]:
df_new.to_csv('child-mortality-2.csv', index=False)